<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PoetsKingdom.NoActionBar"
        tools:targetApi="33">
        <activity
            android:name=".CreatePoemCompose"
            android:exported="false"
            android:label="@string/title_activity_create_poem_compose"
            android:theme="@style/Theme.PoetsKingdom.NoActionBar" />
        <activity
            android:name=".MyPoemsCompose"
            android:exported="false"
            android:label="@string/title_activity_my_poems_compose"
            android:theme="@style/Theme.PoetsKingdom.NoActionBar" />
        <activity
            android:name=".MainActivityCompose"
            android:exported="true"
            android:theme="@style/Theme.PoetsKingdom.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PoemThemeActivityCompose"
            android:exported="false"
            android:label="@string/title_activity_poem_theme_compose"
            android:theme="@style/Theme.PoetsKingdom.NoActionBar" />
        <activity
            android:name=".ImageViewer"
            android:exported="false"
            android:theme="@style/Theme.PoetsKingdom.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MyPoems"
            android:exported="false"
            android:theme="@style/Theme.PoetsKingdom.NoActionBar" />
        <activity
            android:name=".PoemThemeActivity"
            android:exported="false"
            android:theme="@style/Theme.PoetsKingdom.NoActionBar" />
        <activity
            android:name=".CreatePoem"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/Theme.PoetsKingdom.NoActionBar" />
        <activity
            android:name=".PersonalisationActivity"
            android:exported="false"
            android:label="@string/title_activity_personalisation"
            android:theme="@style/Theme.PoetsKingdom.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PoetsKingdom.NoActionBar">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>